.container {
border: 3px solid black;
width: 99%;
height: 560px ;
display: flex ;
flex-direction: column;
}

.header{
border: black solid;
background-color:yellow ;
width: 99.8%;
height: 150px ;
}

.main{
border: black solid;
background-color:blue ;
width: 70%;
height: 150px ;
}

.aside{
border: black solid;
background-color:red ;
width: 20%;
height: 150px ;
order: 1
 }

.footer{
border: black solid;
background-color:green ;
 }





