.pai{
    border: 2px solid;
    width: 300px;
    height: 200px;
    display: flex ;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
.filho{
    display: flex ;
    align-items: center;
    justify-content: center;
background-color: rgb(9, 238, 43);
width: 0px;
height: 20%;
color: rgb(0, 0, 0);
}

.yellow {
    background-color: yellow;
}
.aqua {
    background-color: aqua;
}
.pink{
    background-color: pink;
}
.green {
    background-color: greenyellow;
    border: solid;
}